@media (max-width: 320px) {

    .wrapper {
        min-width: 320px;
    }

    .column__1 img {
        height: 6.4rem;
    }

    .rack__name {
        font-size: 2.9rem;
    }

    .rack__number {
        font-size: 9rem;
    }

    .rack__length__and__height,
    .rack__length,
    .rack__height {
        font-size: 4.2rem;
    }

    body {
        font-size: 1.2rem;
    }

    .warning__error h2,
    .sub__title {
        font-size: 1.8rem;
    }

    .title {
        font-size: 2rem;
    }

    .tutorial__warning p:last-child {
        font-size: 1.4rem;
    }

}

@media (min-width: 391px) {

    .rack__length__and__height,
    .rack__length,
    .rack__height {
        font-size: 5.1rem;
    }

}

@media (min-width: 412px) {

    .example li {
        text-align: justify;
    }

}

@media (min-width: 421px) {

    .rack__name {
        font-size: 3.8rem;
    }

    .rack__number {
        font-size: 11.8rem;
    }

}

@media (min-width: 1024px) {

    .container {
        max-width: 1400px;
    }

    .tutorial__row {
        display: flex;
        flex-flow: wrap;
        margin: 1rem 0.5rem 0 0.5rem;
    }

    .item {
        flex: 1 0 50%;
        padding: 0 0.5rem;
    }

    .tutorial__warning ul {
        flex: 1 1 auto;
    }

    /* Formula for calculating font size 
    
    addSize = pcSize - mobSize;
    
    Final formula for font size on PC: calc(mobSize + addSize (100vw / maxWidth));
    */

    body {
        font-size: calc(1.2rem + 2 * (100vw / 1400));
    }

    .warning__error h2,
    .sub__title {
        font-size: calc(1.8rem + 2 * (100vw / 1400));
    }

    .title {
        font-size: calc(2rem + 2 * (100vw / 1400));
    }

    .tutorial__warning p:last-child {
        font-size: calc(1.4rem + 2 * (100vw / 1400));
    }

}

@media (min-width: 1400px) {

    body {
        font-size: 1.4rem;
    }

    .warning__error h2,
    .sub__title {
        font-size: 2rem;
    }

    .title {
        font-size: 2.2rem;
    }

    .tutorial__warning p:last-child {
        font-size: 1.6rem;
    }

}

@media print {

    .sticker__row {
        width: 9cm;
        height: 4cm;
        position: absolute;
        top: 0;
        left: 0;
    }

    .rack__name {
        line-height: 0.8;
    }

    .handling__user__input__row,
    .error,
    .tutorial,
    .footer {
        visibility: hidden;
    }

}