/* General styles */

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

* h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 767px;
    margin: 0 auto;
    padding: 0.625rem;
}

/* Sticker styles */

.container-sticker {
    /*border: 1px solid black;*/
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 0.625rem;
}

.body-sticker {
    display: flex;
    justify-content: space-between;
    height: 7.125rem;
    padding: 0.625rem;
    border: 0.0625rem solid black;
}

/* First Section Styles */

.first-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30.33%;
}

.first-section img {
    width: 100%;
    height: 70%;
}

.name-cell {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: .8;
    height: 30%;
}

/* Second Section Styles */

.second-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    border: 0.25rem solid black;
}


.first-number-cell {
    font-weight: bold;
    font-size: 5rem;
}

/* Third Section Styles */

.third-section {
    display: flex;
    flex-flow: column;
    width: 30.33%;
}

.number-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.7rem;
    line-height: .8;
    height: 50%;
}
.code-section {
    display: flex;
    height: 50%;
}

.img-code {
    width: 100%;
}

/* Form styles */

.data-processing-container {
    display: flex;
    flex-flow: column;
    min-width: 100%;
}

.form-input-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.625rem auto;
    min-width: 100%;
}

label[for='input-name'] {
    font-size: 0.875rem;
}

.input-name {
    width: 62%;
}

.buttons-render-sticker-or-pdf {
    display: flex;
    justify-content: space-between;
}

/* General styles content */

.text-content-container {
    display: flex;
    flex-flow: column;
    gap: 0.625rem;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1.4;
    text-align: center;
}

.text-content-container h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.flex-grid {
    display: flex;
    flex-flow: wrap;
    gap: 0.625rem;
    justify-content: center;
}

.warning-error, .box-rules, .box-warning, .box-good-example, .box-bad-example {
    padding: 0.625rem;
    border: 1px solid black;
}

.box-rules, .box-warning, .box-good-example, .box-bad-example {
    min-width: 100%;
}

/* Content blocks styles */

.warning-error {
    box-shadow: 3px 3px 3px rgba(43, 42, 51, .5);
}

.box-rules, .box-warning, .box-good-example, .box-bad-example {
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(43, 42, 51, .5);
}

.rules p, .note, .box-warning p, .box-warning li, .good-example li, .bad-example li {
    padding: 0.25rem;
}

.warning-error, .rules, .warning, .note, .emphasis-warning, .good-example, .bad-example {
    text-shadow: 0 0 black;
}

.warning p:first-child {
    font-weight: 500;
    text-align: center;
}

.warning {
    text-align: justify;
}

.warning ul, .good-example ul, .bad-example ul {
    list-style-position: inside;
}

.warning ul {
    padding: 0 0.1875rem;
    word-spacing: 0.25rem;
}

.good-example ul, .bad-example ul {
    padding: 0.3125rem 0.625rem;
    word-spacing: 0.1875rem;
}

.note, .emphasis-warning {
    font-weight: 500;
}

.emphasis-warning {
    font-size: 0.875rem;
}

.box-rules {
    background-color: rgb(33 150 243);
}

.rules p:nth-child(odd) {
    background-color: rgb(63 81 181 / 50%);
}

.warning-error, .box-warning, .box-bad-example{
    background-color: rgb(255 0 87);
}

.box-good-example {
    background-color: rgb(50 205 50);
}

/* Media queries to adapt content styles */

@media (max-width: 320px) {

    .page-container {
        min-width: 320px;
    }

}

@media (width: 360px) {

    .rules p , .note {
        padding: 0.25rem 0;
    }

    .good-example ul, .bad-example ul {
        padding: 0.3125rem 0;
    }

}

@media (min-width: 422px) {

    .good-example ul, .bad-example ul {
        word-spacing: 0.125rem;
    }

}

@media (min-width: 430px) {

    .good-example ul, .bad-example ul {
        word-spacing: 0.1875rem;
    }

}

@media (min-width: 440px) {

    .good-example ul, .bad-example ul {
        word-spacing: 0.25rem;
    }

}

@media (min-width: 444px) {

    .good-example ul, .bad-example ul {
        word-spacing: 0;
        text-align: justify;
    }

}

@media (min-width: 902px) {

    .page-container {
        max-width: 1400px;
    }

    .text-content-container h1, .text-content-container h2 {
        min-width: 100%;
    }

    .box-rules, .box-warning, .box-good-example, .box-bad-example {
        min-width: 49%;
        max-width: 49%;
    }

    .warning {
        min-height: 67%;
    }

}